.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.loginForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginForm input {
  width: 20rem;
  height: 5vh;
}
form button {
  border: 0;
  border-radius: 3px;
  height: 6vh;
  background-color: #77af9c;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
form button:hover {
  cursor: pointer;
  color: var(--third-color);
}
.links {
  text-decoration: none;
}
.register-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #f7e600;
  color: white;
  align-items:center;
  justify-content:center;
  display:flex;
  font-size:18px;
  font-weight:bold;
  border:none;
  text-decoration: none;
}
.logOut {
  position: fixed;
  left: 65vw;
}
.logOut button {
  padding: 2vh;
  width: 15vh;
  background-color: #77af9c;
  border: 0;
  border-radius: 10px ;
  color: white;
  font-size: 3vh;
  font-weight: bold;
}
@media (max-width: 920px) {
  .logOut {
    left: 72vw;
  }
}
@media (max-width: 420px) {
  .logOut {
    left: 65vw;
  }
}